@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #19213d;
    --secondary-color: #C6C6C6;
    --third-color: #343a40;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);

    nav {

        ul {
            display: flex;
            max-width: 80%;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding: 10px 0;
            gap: 40px;
        }
    }
}

a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 1px solid transparent;
    transition: 0.4s ease;
}

a:hover {
    border-bottom: 1px solid var(--primary-color);
}

li {
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.content-header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 4rem 0;
    gap: 8rem;
    width: 60%;
    justify-content: center;
    height: 100vh;
}

.content-header div .background-image {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50%;

    img {
        border-radius: 50%;
    }
}

.content-header div:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-header div:last-child a {
    border: none;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 30%;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 4px;
}

.text-animation {
    font-size: 45px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "";
    color: var(--primary-color);
    animation: palavras 30s infinite;
}

.text-animation span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid var(--primary-color);
    right: -5px;
    opacity: 1;
    animation: cursor 2s infinite, digita 30s steps(20) infinite;
    width: calc(100% + 5px);
    background-color: var(--secondary-color);
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }

    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 5px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid var(--secondary-color);
    }
}

@keyframes palavras {
    0%,50% {
        content: "Olá, eu sou Victor Antonio Pereira";
    }
    51%,100% {
        content: "Conheça o meu repositório";
    }
}

/* Sobre mim */

.card-sobre-mim {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 4px;
}

.card-sobre-mim div:first-child {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 40px 60px;
    justify-content: center;
    gap: 40px;

    h1 {
        font-size: 24px;
        font-weight: bold;
        color: var(--primary-color);
        text-transform: uppercase;
    }

    p {
        font-size: 18px;
        color: var(--third-color);
        text-align: justify;
    }
}

.card-sobre-mim div:last-child {
    width: 30%;
}

.card-sobre-mim div:last-child img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block; 
    border-radius: 4px;
}

/* Habilidades - carrossel */

.slider {
    margin: 0 auto;
    height: auto;
    width: 80%;
    padding: 20px;
    overflow: hidden;   
    margin-top: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
}

.slider-content {
    display: flex;
    width: 400%;
    height: auto;
}

.slider-content input {
    display: none;
}

.slider-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
}

.slider-box div img {
    width: auto;
    height: 100px;
}
