@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #19213d;
    --secondary-color: #C6C6C6;
    --third-color: #343a40;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;
    gap: 40px;

    a {
        text-decoration: none;
        color: var(--primary-color);
        border-bottom: 1px solid transparent;
        transition: 0.4s ease;
    }
    
    a:hover {
        border-bottom: 1px solid var(--primary-color);
    }
    
}

li {
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.content-header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 4rem 0;
    gap: 8rem;
    width: 60%;
    justify-content: center;
    height: 100vh;
}

.content-header .background-image {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.content-header .background-image img {
    border-radius: 50%;
}

.content-header div:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-header div:last-child a {
    border: none;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 4px;
}

.text-animation {
    font-size: 45px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "";
    color: var(--primary-color);
    animation: palavras 30s infinite;
}

.text-animation span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid var(--primary-color);
    right: -5px;
    opacity: 1;
    animation: cursor 2s infinite, digita 30s steps(20) infinite;
    width: calc(100% + 5px);
    background-color: var(--secondary-color);
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 5px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid var(--secondary-color);
    }
}

@keyframes palavras {
    0%,50% {
        content: "Olá, eu sou Victor Antonio Pereira";
    }
    51%,100% {
        content: "Conheça o meu repositório";
    }
}

.card-sobre-mim {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 4px;
}

.card-sobre-mim div:first-child {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 40px 60px;
    justify-content: center;
    gap: 40px;
}

.card-sobre-mim div:first-child h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
}

.card-sobre-mim div:first-child p {
    font-size: 18px;
    color: var(--third-color);
    text-align: justify;
}

.card-sobre-mim div:last-child {
    width: 30%;
}

.card-sobre-mim div:last-child img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.slider {
    margin: 0 auto;
    height: auto;
    width: 80%;
    padding: 30px 0;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    position: relative;
}

.slider h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 20px 0;
}

.slider-content {
    display: flex;
    width: 300%;
    height: auto;
    transition: margin-left 1s;
}

.slider-content input {
    display: none;
}

.slider-box {
    width: 33.33%;
    height: auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    transition: 1s;
}

.slider-box div {
    width: 33.33%;
    margin: 1rem 0;
}

.slider-box div img {
    width: auto;
    height: 100px;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: var(--primary-color);
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -33.33%;
}

#radio3:checked ~ .primeiro {
    margin-left: -66.66%;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: var(--primary-color);
}

/* Footer */

footer {
    background-color: var(--secondary-color);
}

.base-footer {
    display: flex;
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
    border-top: 1px solid var(--primary-color);
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;

    p {
        display: flex;
        align-items: center;

        box-icon {
            margin-right: 5px;
        }
    }

    span {
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 5px;
    };
}

.top-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    transition: 0.4s ease;

    box-icon {
        cursor: pointer;
        width: 40px;
        height: 40px;

        div {
            svg {
                width: auto;
                height: 500px;
            }
        }
    }

    box-icon:hover {
        filter: drop-shadow(0px 7px 29px var(--primary-color));
    }
}

.card-resumo {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.repositories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 80%;
    margin: 3rem;
}

.card-container {
    display: flex;
    align-items: center;
    margin: 0 auto !important;
    gap: 20px;
    margin-top: 2rem !important;
    margin-bottom: 2rem;
    max-width: 80%;
    padding: 0 20px;
    flex-wrap: nowrap !important;
}

.card-cadproduct {
    display: flex;
    align-items: center;
    max-width: 80%;
    justify-content: end;
    margin: 0 auto;
    padding: 20px 20px 0px 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    padding: 0;
    position: relative;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
    gap: 5px;

    button {
        background-color: var(--primary-color);
        color: white;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        font-weight: bold;
    }
}

.card .image-container img {
    width: 250px;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.menu-overlay {
    position: absolute;
    top: 8px;
    right: 8px;
}
