* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  font-family: "Titillium Web", sans-serif;
}

:root {
  --primary-color: #59ac55;
  --secondary-color: #f9dc04;
  --tertiary-color: #CECECE;
  --black: #000000;
  --white: #f4f4f4;
  --color-today-agenda: #f9dc0456;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
  font-weight: 700 !important;
}

.btn-secondary {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  font-weight: 700 !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline::after {
  border-bottom: 2px solid var(--primary-color);
}

label.Mui-focused {
  color: var(--primary-color) !important;
}

.position_modal {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.form-row {
  margin: 20px 0;
  display: flex;
}

.form-row .input-data {
  width: 100%;
  margin: 0 20px;
}
