.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--tertiary-color);
}

.left {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 35%;
    background-color: var(--white);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        width: 430px;

        img {
            width: auto;
            height: 64px;
            margin-bottom: 20px;
        }

        .container_button {
            width: 100%;
            display: flex;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0;

            button {
                width: 60%;
            }
        }

        p {
            button {
                background-color: transparent;
                color: var(--primary-color);
                border: none;
                font-weight: 700;
                cursor: pointer;
                border-bottom: 2px solid transparent;
                transition: all 0.3s ease-in-out;
            }

            button:hover {
                border-bottom: 2px solid var(--primary-color);
            }
        }
    }
}

.confirm_password_description {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.confirm_password_description span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.confirm_password_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1rem;
}

